<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    height: 95.5vh;
   
     
}

h1{
    text-align: center;
}


.image{
top: 0;
 text-align: right;
}

.logout {
position:absolute;
top: 10px;
right: 20px;
font-size:15px;
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
table, th, td {
  border:1px solid black;
  text-align: center;
}
.student{
  display: none;
}


.middle{
text-align: center;
left: 70px;
height: 500px;
width: 1400px;
border-radius: 100px;
position: absolute;

}

</style>

<form method="GET", action="http://localhost:8000/">    
</head>
<body>
<h1>
    Grace mark for publication
</h1>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#" onclick="Profile()" >Profile</a>
  <a href="http://localhost:8000/selfmarks"    onclick="window.open(this.href,'targetWindow',
 `toolbar=no,
  location=center,
  status=no,
  menubar=no,
  scrollbars=yes,
  resizable=yes,
  width=1050,
  height=600`) ;
return false;">View Marks</a> 
 
 

  <a href="http://localhost:8000/grading"    onclick="window.open(this.href,'targetWindow',
                                   `toolbar=no,
                                    location=center,
                                    status=no,
                                    menubar=no,
                                    scrollbars=yes,
                                    resizable=yes,
                                    width=1050,
                                    height=600`) ;
 return false;">Grading Scheme</a>    


<a href="http://localhost:8000/attendance"    onclick="window.open(this.href,'targetWindow',
 `toolbar=no,
  location=center,
  status=no,
  menubar=no,
  scrollbars=yes,
  resizable=yes,
  width=1050,
  height=600`) ;
return false;">Attendance</a> 


<a href="http://localhost:8000/faculty_details"    onclick="window.open(this.href,'targetWindow',
 `toolbar=no,
  location=center,
  status=no,
  menubar=no,
  scrollbars=yes,
  resizable=yes,
  width=full,
  height=full`) ;
return false;">Faculty Details</a> 


 
<a href="http://localhost:8000/uploading"    onclick="window.open(this.href,'targetWindow',
 `toolbar=no,
  location=center,
  status=no,
  menubar=no,
  scrollbars=yes,
  resizable=yes,
  width=1050,
  height=600`) ;
return false;">Events</a> 

<a href="http://localhost:8000/classissues"    onclick="window.open(this.href,'targetWindow',
 `toolbar=no,
  location=center,
  status=no,
  menubar=no,
  scrollbars=yes,
  resizable=yes,
  width=1050,
  height=600`) ;
return false;">Report Class Issues</a> 
 
</div>


   
<% students.forEach(function (students) { %> 
       
    <h2>
      <%= "Hello,  "  + students.username%>     
     <% }) %>
  </h2> 

 
  
 
<video id="myVideo" class="middle" width="500" height="500"  loop  autoplay>
  <source src="http://localhost:5000/amrita-cbe.mp4" type="video/mp4">
 
</video>
 
  <p id="demo"></p>


<script>
function myFunction() {
var x = document.getElementById("myVideo").autoplay;
document.getElementById("demo").innerHTML = x;
}
</script>


    
 
 





<span style="font-size:30px;cursor:pointer " onclick="openNav()" >&#9776; Menu</span>
<% students.forEach(function (students) { %>

<div class="image" >
<img  src="<%=students.images%>" width="150" alt="image not available"> </img>  </div>

<center>
<div id="Profile" class="student">   <table style="width:45%">
  <tr>
    <th>Roll No</th>
    
    <td><%=students.rollno%></td>
    
    
  </tr>
  <tr>
    <th>Name</th>
     
    <td><%= students.username%> </td>
 
  </tr>
  <tr>
    <th> Section</th>
    <td><%=students.section%> </td>
 
  </tr>
  <tr>
    <th> Branch</th>
    <td><%=students.branch%> </td>
 
  </tr>
  <tr>
    <th> Year</th>
    <td><%=students.year%> </td>
 
  </tr>
  <tr>
    <th> CGPA</th>
    <td><%=students.cgpa%> </td>
 
  </tr>
  <tr>
    <th> Mobile</th>
    <td><%=students.mobile%> </td>
 
  </tr>
  <tr>
    <th> Projects</th>
    <td><%=students.projects%> </td>
 
  </tr>
  <tr>
    <th> Mail</th>
    <td><%=students.mail%> </td>
 
  </tr>
  <tr>
    <th> Address</th>
    <td><%=students.address%> </td>
 
  </tr>
</table>
 
</div>  


<div id="marks" class="student" <table style="width:100%"> 
  <table>
    
    <tr>
        <th>  Course Code   </th>
        <th> Course Name </th>
        <th> Marks </th>
    </tr>
    <tr>
        <td>15CSE376</td>
        <td>Net Centric Programming</td>
        <td ><%=students.NCP%> </td></tr>
    
        <td>15CSE401</td>
        <td>Machine Learning and Data Mining</td>
        <td ><%=students.MLDM%> </td></tr>
      
        <td>15CSE402</td>
        <td>Structure and Interpretation of Computer Programs</td>
        <td ><%=students.SICP%> </td></tr>
        <td>15CSE480</td>
        <td>Internet of Things</td>
        <td ><%=students.IOT%> </td></tr>
        <td>15CSE481</td>
        <td>Machine Learning and Data Mining Lab.</td>
        <td ><%=students.MLDMLAB%> </td></tr>
        <td>15CSE495</td>

        <td>Project Phase I</td>
        <td ><%=students.PP1%> </td></tr>
         
    
     </tr>
</table> <% }) %>
 
   
      
     
 
 </center>
<script>

 
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
     


function Profile() {
var x = document.getElementById("Profile");
var y = document.getElementById("myVideo");
if (x.style.display === "none") {
x.style.display = "block";
y.style.display="none";
} else {
x.style.display = "none";
y.style.display="block";
}
}
 



  function marks() {
  var x = document.getElementById("marks");
  if (x.style.display === "none") {
  x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 

 
 

</script>
   
 



<button class="logout" formaction="/warning">Logout</button>
</body>
</html> 
